* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5cad9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid hsl(307, 55%, 82%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 25px;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #f9aee6;
    font-size: 14px;
}

form textarea {
    resize: none;
    height: 100px;
}

button {
    width: 120px;
    padding: 10px;
    background: #ffd1fc;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-size: 15px;
}

button:hover {
    background: #fdbef3;
}